# MEDIA GENERATION
FAL_KEY=xxx

# DB
DATABASE_URL=xxx
DIRECT_URL=postgres://postgres.xxxx

# GOOGLE TO LOGIN WITH SOCIALS
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx

# BETTER-AUTH
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000   #Client-side auth URL
BETTER_AUTH_SECRET=xxx
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

# STRIPE
STRIPE_SECRET_KEY=xxx
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=xxx
STRIPE_WEBHOOK_SECRET=xxx
NEXT_PUBLIC_STRIPE_STARTER_PRICE_ID=xxx
STRIPE_STARTER_PRODUCT_ID=xxx
NEXT_PUBLIC_STRIPE_CREATOR_PRICE_ID=xxx
STRIPE_CREATOR_PRODUCT_ID=xxx

#ZEPTOMAIL
EMAIL_FROM=noreply@yourproject.com
EMAIL_FROM_NAME=yourproject
EMAIL_REPLY_TO=noreply@yourproject.com
ZEPTOMAIL_API_URL=api.zeptomail.ca/
ZEPTO_MAIL_API_KEY=Zoho-enczapikey xxx